Repository josephrclick/voice-transcribe, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, python, database, ai/ml, documentation, dependencies, tests

.github/labeler.yml:

# .github/labeler.yml
frontend:
  - app/**/*
  - components/**/*
  - styles/**/*
  - "*.css"
  - "*.tsx"

backend:
  - api/**/*
  - lib/services/**/*
  - lib/db/**/*

python:
  - "*.py"

database:
  - prisma/**/*
  - supabase/**/*
  - migrations/**/*

ai/ml:
  - lib/ai/**/*
  - lib/embeddings/**/*
  - lib/rag/**/*

documentation:
  - "*.md"
  - docs/**/*

dependencies:
  - package.json
  - package-lock.json
  - yarn.lock

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - __tests__/**/*

feat: add configurable punctuation and endpointing parameters
  GEMINI.md
  config.json
  deepgram_service.py
  docs/tickets/punctuation-sprint/sprint-overview.md
  docs/tickets/punctuation-sprint/ticket-01-api-configuration.md
  docs/tickets/punctuation-sprint/ticket-02-post-processing-pipeline.md
  docs/tickets/punctuation-sprint/ticket-03-user-controls.md
  docs/tickets/punctuation-sprint/ticket-04-enhancement-optimization.md
  docs/tickets/punctuation-sprint/ticket-05-comprehensive-testing.md
  voice-transcribe.desktop
Labels: python, documentation

feat: integrate punctuation config into main application
  main.py
Labels: python

feat: add comprehensive test suite for API configuration
  tests/test_deepgram_service.py
Labels: none

fix: implement critical thread safety and resource cleanup improvements
  deepgram_service.py
  tests/test_deepgram_service.py
Labels: python

feat: complete post-processing punctuation pipeline
  config.json
  main.py
  punctuation_processor.py
  tests/test_punctuation_processor.py
Labels: python

update rules.md for better gh actions
  .claude/rules.md
Labels: none

feat: add PunctuationControlsWidget class with sensitivity controls
  punctuation_controls.py
Labels: python

feat: integrate PunctuationControlsWidget into main UI
  main.py
Labels: python

feat: add _restart_deepgram_service method for real-time config updates
  main.py
Labels: python

feat: add FragmentProcessor class for handling over-punctuated transcripts
  GEMINI.md
  enhance.py
  tests/test_fragment_processor.py
Labels: python, documentation

fix: improve FragmentProcessor logic and test coverage
  config.json
  enhance.py
  tests/test_fragment_processor.py
Labels: python

feat: complete fragment processing configuration integration
  enhance.py
  main.py
Labels: python

feat: implement comprehensive testing suite for punctuation handling (issue #38)
  config.json
  tests/test_data_generator.py
  tests/test_integration.py
  tests/test_performance.py
  tests/test_user_scenarios.py
Labels: none

clean up
  .gitignore
  app_config.py
  config.json
  deepgram_service.py
  docs/tickets/improve-sprint/deepgram-improve.md
  docs/tickets/improve-sprint/p3.md
  main.py
  paste_strategies.py
  terminal_config.py
Labels: python, documentation

adding new CLI agents
  .ai/README.md
  .ai/instructions.md
  .claude/rules.md
  .envrc
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
  .gitignore
  CLAUDE.md
  GEMINI.md
Labels: documentation

.
  .gitignore
Labels: none

feat: implement Deepgram Nova-3 enhancements (issue #44)
  app_config.py
  deepgram_service.py
  main.py
Labels: python

fix: address critical code review feedback
  deepgram_service.py
  main.py
Labels: python

hooks
  .claude/hooks/PreToolUse/safety_check.py
  .claude/hooks/UserPromptSubmit/append_default.py
  .claude/hooks/UserPromptSubmit/append_explain.py
  .claude/hooks/UserPromptSubmit/append_ultrathink.py
  .claude/settings.json
  .gitignore
  config.json
  docs/tickets/improve-sprint/deepgram-improve.md
Labels: documentation

wip: implement P3 optimizations and P4 test preparation
  .claude/hooks/PreToolUse/safety_check.py
  .claude/settings.json
  config.json
  enhancement_builder.py
  main.py
  subprocess_utils.py
  tests/test_enhance_refactor.py
  tests/test_model_config_refactor.py
Labels: python

fix: address critical code review feedback
  .claude/hooks/PreToolUse/safety_check.py
  .claude/hooks/UserPromptSubmit/append_default.py
  .claude/hooks/UserPromptSubmit/append_explain.py
  .claude/hooks/UserPromptSubmit/append_ultrathink.py
  app_config.py
  deepgram_service.py
  docs/tickets/improve-sprint/pr-47-feedback-1.md
  enhance.py
  enhancement_builder.py
  main.py
  model_config.py
  paste_strategies.py
  punctuation_controls.py
  punctuation_processor.py
  pyproject.toml
  subprocess_utils.py
  terminal_config.py
  tests/test_data_generator.py
  tests/test_deepgram_service.py
  tests/test_enhance_refactor.py
  tests/test_fragment_processor.py
  tests/test_integration.py
  tests/test_model_config_refactor.py
  tests/test_performance.py
  tests/test_punctuation_processor.py
  tests/test_user_scenarios.py
Labels: python, documentation

.
  .claude/output-styles/bullet-points.md
  .claude/output-styles/genui.md
  .claude/output-styles/html-structured.md
  .claude/output-styles/markdown-focused.md
  .claude/output-styles/table-based.md
  .claude/output-styles/tts-summary.md
  .claude/output-styles/ultra-concise.md
  .claude/output-styles/yaml-structured.md
  .envrc
Labels: none

.
  .claude/hooks/PreToolUse/safety_check.py
  .claude/output-styles/bullet-points.md
  .claude/output-styles/genui.md
  .claude/output-styles/html-structured.md
  .claude/output-styles/markdown-focused.md
  .claude/output-styles/table-based.md
  .claude/output-styles/tts-summary.md
  .claude/output-styles/ultra-concise.md
  .claude/output-styles/yaml-structured.md
  .envrc
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
  app_config.py
Labels: python

.
  .ai/instructions.md
Labels: none

.
  app_config.py
Labels: python

.
  .ai/instructions.md
  config.json
  docs/tickets/improve-sprint/p3.md
  docs/tickets/improve-sprint/pr-47-feedback-1.md
  docs/tickets/punctuation-sprint/sprint-overview.md
  docs/tickets/punctuation-sprint/ticket-01-api-configuration.md
  docs/tickets/punctuation-sprint/ticket-02-post-processing-pipeline.md
  docs/tickets/punctuation-sprint/ticket-03-user-controls.md
  docs/tickets/punctuation-sprint/ticket-04-enhancement-optimization.md
  docs/tickets/punctuation-sprint/ticket-05-comprehensive-testing.md
  main.py
Labels: python, documentation

remove gemini workflows
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
Labels: none
